[Desktop Entry]
Name=CV64Recompiled
Type=Application
Terminal=false
Icon=CV64Recompiled
Exec=CV64Recompiled
GenericName=CV64Recompiled
Categories=Game;

